/*Inital Overrides*/
body {
  margin: 0;
  font-family: OpenSans, arial, sans-serif;
  font-size: 14px;
  color: #4d4d4f;
  background-color: #000;
}
a {
  text-decoration: none;
  color: #4d4d4f;
  cursor: pointer;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family:Libre Italic, georgia, serif;
  margin: 0;
}
h1 {
  font-size: 30px;
  text-shadow: #ccc 2px 2px 2px;
  text-align: center;
}
h2 {
  font-size: 140%;
}
ul, li {
  margin: 0;
}

/*Main*/
@font-face {
    font-family: 'Libre Reg';
    src: url('fonts/librebaskerville-regular-webfont.woff2') format('woff2'),
         url('fonts/librebaskerville-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Libre Italic';
    src: url('fonts/librebaskerville-italic-webfont.woff2') format('woff2'),
         url('fonts/librebaskerville-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Libre Bold';
    src: url('fonts/librebaskerville-bold-webfont.woff2') format('woff2'),
         url('fonts/librebaskerville-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSans';
    src: url('fonts/OpenSans-Regular-webfont.eot');
    src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.clear::before, .clear::after {
  display: table;
  content: ' ';
  clear: both;
}

.show {
  display: none;
}

.wrap {
  width: 90%;
  margin: 0 5% 1%;
  position: absolute;
  z-index: 3;
}
header {
  padding: 1%;
  margin: 5px auto 0;
  width: 40%;
}
.logo {
  display: block;
  margin: 0 auto 15px;
  outline: 0;
  border: none;
  width: 300px;
  padding-left: 20px;
}
nav {
  padding: 10px;
  text-align: center;  
}
nav a {
  display: inline-block;
  margin: 0 10px;
  padding-bottom: 5px;
  font-family:Libre Italic, georgia, serif;
  font-size:18px;
  color: #ccc;
  text-shadow: #000 2px 2px 2px;
}
nav a:hover {
  border-bottom: solid 1px #ddd;
}
.header_info, footer {
  color: #ddd;
  font-size: 13px;
  margin: 2% auto 0;
  width: 40%;
  text-shadow: #000 1px 1px 5px;
  text-align: center;
}
.header_info a {
  color: #ddd;
}
.header_contact {
  float: left;
  width: 55%;
}
.header_social {
  float: right;
  width: 40%;
  text-align: right;
}
section {
  opacity: 0;
  transition: 1s;
  margin: 2% auto 0;
  width: 50%;
  padding: 1% 5%;
  background-color: rgba(255, 255, 255, .9);
  line-height: 1.8;
  border-bottom: solid 3px #4d4d4f;
}
h1::after {
  content: ' ';
  display: block;
  background: #3a4a9c;
  height: 1px;
  width: 40%;
  margin: 5px auto;
}
#index nav a#nav_about,
#services nav a#nav_services,
#contact nav a#nav_contact
 {
  border-bottom: solid 1px #ccc;
}

/*BG Slider*/
#bg_slide_wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.bg_slide {
  position: absolute;
  height: 100%;
  background-size: cover;
  background-repeat:  no-repeat;
  transition: 2s;
}
#bg_slide_active {
  left: 0;
  right: 0;
  z-index: 2;
  opacity: 1;
}
#bg_slide_float {
  left: 0;
  right: 0;
  z-index: 1;
  transition:0s;
}
#bg_slide_nonactive {
  left: 0;
  z-index: 1;
  opacity: 0;
}
.content_img {
  border: solid 3px #ccc;
}
.col_4 {
  float: left;
  width: 25%;
}
.col_2 {
  float: left;
  width: 50%;
}
.contact_info {
  text-align: center;
}
label {
  display: block;
}
input, textarea {
  width: 65%;
  padding: 5px;
}
textarea {
  min-height: 200px;
}

/*Gallery*/
#modal {
  opacity: 0;
  transition: 1s;
}
.modal_active {
  position: absolute;
  background-color: rgba(0, 0, 0, .7);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
}
.gallery_wrap {
  position: relative;
  top: 20px;
  margin:0 auto;
  display: table;
  background-color: #000;
  border: solid 5px #ccc;
}
.gallery_view {
  padding: 10px;
  position: relative;
  text-align: center;
}
.gallery_img {
  position: relative;
  display: none;
  z-index: 10;
}
.gallery_active {
  display: block;
  z-index: 11;
}
.gallery_arrow {
  padding: 10px;
  opacity: .6;
  background-color: #fff;
  font-size: 20px;
  position: absolute;
  top: 40%;
  z-index: 12;
  cursor: pointer;
}
.gallery_close {
  position: absolute;
  z-index: 12;
  top: -10px;
  right: -10px;
  font-size: 15px;
  background-color: #fff;
  padding: 10px 15px;
  font-weight: bold;
  opacity: .8;
  border-radius: 50%;
  cursor: pointer;
}
.gallery_arrow:hover,
.gallery_close:hover {
  opacity: 1;
}
.gallery_arrow_left {
  left: 0;
  display: none;
}
.gallery_arrow_right {
  right: 0;
}

/*Mobile*/
@media only screen and (max-width:768px) {
  section, footer, .header_info {
    width: 90%;
  }
  header {
    width: 98%;
  }
  .logo {
    width: 280px;
  }
  nav {
    padding:10px 5px;
  }
  nav a {
    margin: 0 8px;
    font-size: 15px;
  }
  .col_4 {
    width: 50%;
  }
  .col_2 {
    width: 100%;
    float: none;
  }
  h1 {
    font-size: 20px;
  }
  .hide {
    display: none;
  }
  .show {
    display: block;
  }
  section {
    padding: 5%;
  }
  .gallery_wrap {
    width: 90%;
  }
  .gallery_img {
    width: 100%;
  }
  input, textarea {
    width: 90%;
  }
}