$color--blue: #10205B;
$color--darkBlue: #1F222E;
$color--lightBlue: #7D849D;
$color--teal: #007E87;
$color--orange: #C16708;
$color--darkGrey: #26262B;
$color--lightGrey: #A9ADBD;
$color--white: #EAEAEA;

$fontsize--medium: 25px;

$fontfamily--primary: 'Anton', sans-serif;

$bp--large: 600px;