@import '../scss/variables.scss';

.Header {
  &-wrap {
    left: 0;
    right: 0;
    top: 0;
    @include bp($bp--sm) {
      position: sticky;
    }
  }
  padding: 20px;
  background-color: rgba($color--blue, .8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include bp-mobile() {
    flex-wrap: wrap;
  }
  &-logo {
    width: 400px;
    max-width: 40%;
    @include bp-mobile() {
      max-width: 70%;
    }
  }
  &-nav {
    display: flex;
    padding-left: 10px;
    @include bp-mobile() {
      display: none;
      width: 100%;
      flex-direction: column;
      text-align: center;
      margin-top: 8px;
      padding: 0;
      &--active {
        display: block;
      }
    }
  }
  &-mobileNavButton {
    display: none;
    @include bp-mobile() {
      display: inline-block;
      color: $color--white;
      font-size: 250%;
      background-color: rgba($color--teal, .2);
      padding: 8px;
      border-radius: 5px;
      cursor: pointer;
    }
  }
  &-navItem {
    @include font-primary();
    padding: 0 20px 0 5px;
    color: $color--lightGrey;
    font-size: $fontsize--md;
    text-transform: lowercase;
    border-left: solid 3px transparent;
    white-space: nowrap;
    transition: color .5s;
    @include bp($bp--lg) {
      font-size: $fontsize--xl;
      padding-right: 30px;
    }
    @include bp-mobile() {
      display: block;
      border-left: 0;
      background-color: rgba($color--teal, .2);
      margin-bottom: 5px;
      padding: 12px;
    }
    &:hover,
    &--active {
      color: $color--white;
      border-color: $color--teal;
      @include bp-mobile() {
        background-color: $color--teal;
      }
    }
  }
}